header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(5px);
    /* deixa mais elegante e suave */

    /* fundo branco com 70% de transparência */
    background-color: rgba(231, 231, 231, 0.395)
}

.Logo1 {
    padding-left: 29;
    padding-right: 1663;
    width: 120px;
    height: 120px;
}

ul.headerTxt .container{
    color: #7912ab;
    font-size: 15px;
    padding: 20px;
    display: flex;
    letter-spacing: 1px;
    transition: transform 3s ease;
}

#inicio1 {

    font-weight: 600;
}

.headerTxt a:hover {
    color: rgb(234, 0, 255);
    font-size: 16px;
    font-weight: 600;
}

li,
a {
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
}

.menu {
    color: white;
    border-radius: 4px;
    font-size: 20px;
    width: 50px;
    height: 40px;
    background: linear-gradient(91deg, #7912ab -9.04%, #550080, #7912ab 104.41%);
    border-style: none;
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: inline;
    }

    li {
        display: none;
    }

    .Logo1 {
        width: 100px;
        height: 100px;
    }
}